@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

/* Geral */

body {	
	min-height: 100%;
	font-family: 'Roboto', sans-serif;
}

main {
	min-height: 600px;
	margin: 0 auto;
}

.indent {
	text-indent: 10px;
}

/* Logo */

.logo {	
	margin-left: 50%;		
	width: 100px;
	height: 100px;
}

@media (max-width: 767px) {	
    .logo {
        margin-left: 25%;
    }
}

.logounirio {
	width: 80px;
	height: 80px;
}

/* Título */

.title {
	float: right;
	text-decoration: none;
	color: darkgrey;
	margin-top: 30px;
	margin-left: 50%;
}

.title:hover {
	text-decoration: none;
}

@media (max-width: 767px) {	
    .title {    
    	position: absolute;	
        top: 20px;
        margin-left: 50%;
    }
}

/* Menu */
.navbar-default {
	background-color: white;
	height: 5%;
	margin-bottom: 1px;
	width: 100%;

}

.navbar-right li {
	margin-top: 30px;
		
}

/* Rodapé */

.footer {

background-color: white;
border-top: 1px solid lightgrey;
padding: 2%;
bottom: 0;
margin: 0 auto !important;
text-align: center !important;
width: 100% !important;
height: 80px;
position: relative; }

.footer > a {
text-decoration: none;
color: black; }

.footer > a:hover {
color: grey; }

/* [INDEX] Carousel */


.carousel .item {
    width: 100%;
    max-height: 600px;
}
.carousel .item img {
	margin: 0 auto;
    width: 100%;
    max-height: 600px;
}

@media (max-width: 767px) {	
    .block {
        margin-left: -20px;
        margin-right: -20px;
    }
}

/*[SOBRE] Diagramação */

.rowSobre {
	margin-top: 100px;
}

.listaSobre {	
	text-align: left;
}

.imagemSobre {
	max-height: 100%;
	max-width: 100%
}

/*[SOBRE] Estilização */

.paginaSobre < p {
	font-size: 180%;
	text-align: justify;	
}

.tituloSobre {
	color: darkred;
	font-size: 400%;

}

.subtituloSobre {
	margin-bottom: 5%;
	color: darkred;
	font-size: 300%;

}

.destaqueSobre {
	color: darkred;
	text-decoration: underline;
	font-size: 280%;
	margin: 0 auto;
	padding-top: 0;
}

.modalidadesSobre {
	font-size: 300%;
	list-style-type: none;
	font-weight: lighter;

}

.textoSobre{
	font-size: 185%;
}

/* [CONTATO] Título */

.tituloContato {
	margin-bottom: 10%;	
}

/* [CONTATO] Campo de Mensagem*/

#mensagem {
	resize: none;
}

/* [CONTATO] Foto CCET*/
.unirioccet {
	max-width: 100%;
	max-height: 100%;
	width: 400px; 
	height: 300px;
	margin: 5% 10%;
	
}

.mapaccet {
	max-width: 100%;
	max-height: 100%;
	width: 400px; 
	height: 300px;
	margin: 5% 10%;
	margin-top: 0%;
	
}

/*[DIRETORIA]*/

.flexbox {
	margin-top: 2%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;	
}

.fotoDiretoria{
	filter: grayscale(100%);
	opacity: 0.8;
	width: 250px;
	height: 500px;
	background-image: url("http://lorempixel.com/250/500");
}

.fotoDiretoria:hover{
	filter: none;
	opacity: 1.0;
}


.legendaDiretoria{
	height: 50px;
    display:none;
    position: inherit;
    background: darkred;
    bottom: 0px;
    top: 500px;
    width:100%;
    color: #fff;
}

/*[MEUS TIMES] Esportes */

#meustimes < .panel-default {
	width: 100%;
	height: 250px;
}

.esportes {
	margin: 0 auto;
	max-height: 100%;
	max-width: 100%;	
}

/*[PRODUTOS] Mostrar Produtos */

.mostrarProduto {
	width: 300px;
	height: 300px;
}


