@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

/* Geral */

body {	
	height: 100%;
	font-family: 'Roboto', sans-serif;
}

main {
	min-height: 600px;
	margin: 0 auto;
}

/* Logo */

.logo {	
	margin-left: 50%;
	width: 100px;
	height: 100px;
}


.logounirio {
	width: 60px;
	height: 60px;
}

/* Menu */
.navbar-default {
	background-color: white;
	height: 5%;
	margin-bottom: 1px;

}

.navbar-right li {
	margin-top: 30px;
		
}

/* Rodapé */

.footer {

background-color: white;
border-top: 1px solid lightgrey;
padding: 2%;
bottom: 0;
margin: 0 auto !important;
text-align: center !important;
width: 100% !important;
height: 80px;
position: relative; }

.footer > a {
text-decoration: none;
color: black; }

.footer > a:hover {
color: grey; }

/* [INDEX] Carousel */


.carousel .item {
    width: 100%;
    max-height: 600px;
}
.carousel .item img {
	margin: 0 auto;
    width: 100%;
    max-height: 600px;
}

@media (max-width: 767px) {	
    .block {
        margin-left: -20px;
        margin-right: -20px;
    }
}

/* [CONTATO] Título */

.tituloContato {
	margin-bottom: 10%;	
}

/* [CONTATO] Campo de Mensagem*/

#mensagem {
	resize: none;
}

/* [CONTATO] Foto CCET*/
.unirioccet {
	max-width: 100%;
	max-height: 100%;
	width: 400px; 
	height: 300px;
	margin: 5% 10%;
	
}

.mapaccet {
	max-width: 100%;
	max-height: 100%;
	width: 400px; 
	height: 300px;
	margin: 5% 10%;
	margin-top: 0%;
	
}

