<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<link
	href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css"
	rel="stylesheet" />
<title>Atlética Alan Turing</title>
</head>
<body>
<header th:replace=" header:: header" ></header>

<ul><h1>Editar Páginas</h1>
  <li  class="list-group-item" ><a th:href="@{/carroselAdm}">Editar Carrosel</a></li>
  <li class="list-group-item"><a th:href="@{/membrosAdm}">Editar Membros</a></li>
  <li class="list-group-item"><a th:href="@{/equipesAdm}">Editar equipes</a></li>
  <li class="list-group-item"><a th:href="@{/institucionalAdm}">Editar Institucional</a></li>
  <li class="list-group-item"><a th:href="@{/painelAdm}">Editar Painel</a></li>
  <li class="list-group-item"><a th:href="@{/produtoAdm}">Editar Produtos</a></li>
  <li class="list-group-item"><a th:href="@{/agendaAdm}">Editar Agenda</a></li>
  <li class="list-group-item"><a th:href="@{/contatoAdm}">Editar Contato</a></li>
</ul>  

	<footer th:replace="footer::footer"> </footer>	
</body>
</html>