<!DOCTYPE html>
<html>
<head>

<title>Atlética Alan Turing</title>
<link rel="shortcut icon" href="favicon.ico"/>
<meta charset="UTF-8" />
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" />
<link href="stylesheet.css"	rel="stylesheet" />


</head>
<body>

	<header th:replace="layout :: menu">Menu</header>

	<h1 class="form col-sm-4 col-sm-offset-4">Produto</h1>
	
	<form class="form col-sm-4 col-sm-offset-4" th:action="@{/adicionarNovoProduto}" th:object="${produto}"   method="POST">
		<h2>Nome Produto</h2>
		<div >
			<input type="text" th:field="*{nomeProduto}" />
		</div>
		<button type="submit"> Adicionr Produto</button>
	</form>

</body>
</html>