<!DOCTYPE html>
<html>
<head>

<title>Atlética Alan Turing</title>
<link rel="shortcut icon" href="favicon.ico"/>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width"/>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" />
<link href="adminstylesheet.css"	rel="stylesheet" />

</head>
<body>

	<header th:replace="adminlayout :: menu">Menu</header>
	
	<div class="container">

		<div class="row">

			<h1 class="text-center tituloPagina">Carrosel</h1>

			<form method="post" action="doUpload" enctype="multipart/form-data">
		            <table border="0">
		                <tr>
		                    <td>Pick file #1:</td>
		                    <td><input type="file" name="fileUpload" size="50" /></td>
		                </tr>
		                <tr>
		                    <td>Pick file #2:</td>
		                    <td><input type="file" name="fileUpload" size="50" /></td>
		                </tr>
		                <tr>
		                    <td colspan="2" align="center"><input type="submit" value="Upload" /></td>
		                </tr>
		            </table>
		    </form>
		    
		</div>
		
    </div>


	<footer th:replace="adminlayout :: rodape">Rodapé</footer>
	
</body>
</html>