<!DOCTYPE html>
<html>
<head>

<title>Atlética Alan Turing - Fala comigo!</title>
<link rel="shortcut icon" href="favicon.ico"/>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width"/>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" />
<link href="stylesheet.css"	rel="stylesheet" />


</head>
<body>

	<header th:replace="layout :: menu">Menu</header>

	<main>

		<div class="container">		 	

			<div class="row">

				<div class="col-xs-12 col-md-6 col-lg-6 pull-left">

					<h1 class="tituloContato text-center">E aí? Manda o papo!</h1>

					<form>

						<div class="form-group">
						    <label for="nome">Nome:</label>
						    <input type="text" class="form-control" id="nome"/>
						</div>

						<div class="form-group">						
						    <label for="email">Email:</label>
						    <input type="email" class="form-control" id="email"/>
						</div>
						
						<div class="form-group">
						    <label for="assunto">Assunto:</label>
						    <input type="text" class="form-control" id="assunto"/>
						</div>

						<div class="form-group">
						  	<label for="mensagem">Mensagem:</label>
						  	<textarea class="form-control" rows="10" id="mensagem"></textarea>
						</div>

						 <button type="submit" class="btn btn-default">Enviar</button>

					</form>

				</div>

				<div class="col-xs-12 col-md-6 col-lg-6 pull-right">	

					<h2 class="text-center">Localização e Horário!</h2><hr/>

					<div class="row">

						<div class="col-xs-4 col-md-4 col-lg-4 textoContato ">					

							<p class="text-center"><i class="fa fa-map-marker" aria-hidden="true"></i>CCET-Unirio</p>
							<p><b>Endereço:</b> Av. Pasteur, 458 - Botafogo, Rio de Janeiro - RJ 22290-240 - Botafogo, Rio de Janeiro - RJ, 22290-250</p>

		 				</div>

						<div class="col-xs-8 col-md-8 col-lg-8 pull-right">					

							<img class="unirioccet" src="unirioccet.jpg" alt="Unirio CCET"/>

		 				</div>	

													

		 			</div>

		 			<div class="row ">		 				

		 				<div class="col-xs-4 col-md-4 col-lg-4 textoContato">					

							<p class="text-center"><i class="fa fa-clock-o" aria-hidden="true"></i>Horário para Contato</p>
							<p><b>Segunda a Sexta:</b> 16h - 20h</p>
							<p><b>Telefone:</b> (21) 0000-0000</p>

						</div>

						<div class="col-xs-8 col-md-8 col-lg-8 pull-right">												

		 					<a href="https://www.google.com/maps/dir//unirio+ccet/"><img class="mapaccet" src="mapaccet.png" alt="Mapa CCET"/></a>

		 				</div>	
		 				
		 			</div> 			

		 		</div>						

		 	</div>

		 </div>

	</main>

	<footer th:replace="layout :: rodape">Rodapé</footer>

</body>
</html>

