<!DOCTYPE html>
<html>
<head>

<title>Atlética Alan Turing - Diretoria</title>
<link rel="shortcut icon" href="favicon.ico"/>
<meta charset="UTF-8" />
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" />
<link href="stylesheet.css"	rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />

</head>
<body>

	<header th:replace="layout :: menu">Menu</header>

	<main>
		<h1>Diretoria</h1>
	</main>

	<footer th:replace="layout :: rodape">Rodapé</footer>

</body>
</html>

