<!DOCTYPE html>
<html>
<head>

<title>Atlética Alan Turing - Diretoria</title>
<link rel="shortcut icon" href="favicon.ico"/>
<meta charset="UTF-8" />
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" />
<link href="stylesheet.css"	rel="stylesheet" />

</head>
<body>

	<header th:replace="layout :: menu">Menu</header>

	<main>	

		<div class="container-fluid">

			<div class="flexbox text-center">

				<div class="fotoDiretoria">

					<div class="legendaDiretoria">
				          
						<p>Nome Sobrenome - Cargo
							
							<a href="facebook">
									<button type="button" class="btn btn-default btn-sm">
										<i class="fa fa-facebook" aria-hidden="true"></i>
				 					</button>
				 			</a>

				 		</p>	

		 			</div>

		 		</div> 

		 		<div class="fotoDiretoria">

					<div class="legendaDiretoria">
				          
						<p>Nome Sobrenome - Cargo
							
							<a href="facebook">
									<button type="button" class="btn btn-default btn-sm">
										<i class="fa fa-facebook" aria-hidden="true"></i>
				 					</button>
				 			</a>

				 		</p>	

		 			</div>

		 		</div> 

		 		<div class="fotoDiretoria">

					<div class="legendaDiretoria">
				          
					<p>Nome Sobrenome - Cargo
						
						<a href="facebook">
								<button type="button" class="btn btn-default btn-sm">
									<i class="fa fa-facebook" aria-hidden="true"></i>
			 					</button>
			 			</a>

			 		</p>

		 			</div>

		 		</div> 

		 		<div class="fotoDiretoria">

					<div class="legendaDiretoria">
				          
					<p>Nome Sobrenome - Cargo
						
						<a href="facebook">
								<button type="button" class="btn btn-default btn-sm">
									<i class="fa fa-facebook" aria-hidden="true"></i>
			 					</button>
			 			</a>

			 		</p>	

		 			</div>

		 		</div> 
		 		
		 		<div class="fotoDiretoria">

					<div class="legendaDiretoria">
				          
					<p>Nome Sobrenome - Cargo
						
						<a href="facebook">
								<button type="button" class="btn btn-default btn-sm">
									<i class="fa fa-facebook" aria-hidden="true"></i>
			 					</button>
			 			</a>

			 		</p>	

		 			</div>

		 		</div>

		 	</div>
									
		</div>
			
	</main>

	<footer th:replace="layout :: rodape">Rodapé</footer>

</body>
</html>

