<!DOCTYPE html>
<html>
<head>

<title>Atlética Alan Turing - Diretoria</title>
<link rel="shortcut icon" href="favicon.ico"/>
<meta charset="UTF-8" />
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" />
<link href="stylesheet.css"	rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />

</head>
<body>

	<header th:replace="layout :: menu">Menu</header>

	<main>	
			<div class="flexbox">

				<figure class="text-center">
				
					<img src="http://lorempixel.com/250/500" alt="Membro 1"/>
					
						<p>Nome Sobrenome - Cargo</p>
						
						<a href="facebook">
							<button type="button" class="btn btn-default btn-sm">
								<i class="fa fa-facebook" aria-hidden="true"></i>
		 					</button>
		 				</a> 

				</figure>	
				
					<img src="http://lorempixel.com/250/500" alt="Membro 2" />
					<img src="http://lorempixel.com/250/500" alt="Membro 3" />
					<img src="http://lorempixel.com/250/500" alt="Membro 4" />	
					<img src="http://lorempixel.com/250/500" alt="Membro 5" />						
				</div>
			
	</main>

	<footer th:replace="layout :: rodape">Rodapé</footer>

</body>
</html>

