<!DOCTYPE html>
<html>
<head>

<title>Atlética Alan Turing - Meus Times</title>
<link rel="shortcut icon" href="favicon.ico"/>
<meta charset="UTF-8" />
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" />
<link href="stylesheet.css"	rel="stylesheet" />


</head>
<body>

	<header th:replace="layout :: menu">Menu</header>

	<main>
	
		<div class="container">
		
			<div class="panel-group" id="meustimes">
	
				<div class="panel panel-default center-block">
	
				    <div class="panel-body"><img class="esportes" src="handebol.jpg" alt="Handebol"/></div>
	
				</div>

				<div class="panel panel-default">
	
				    <div class="panel-body"><img class="esportes" src="handebol.jpg" alt="Handebol"/></div>
	
				</div>

				<div class="panel panel-default">
	
				    <div class="panel-body"><img class="esportes" src="handebol.jpg" alt="Handebol"/></div>
	
				</div>

				<div class="panel panel-default">
	
				    <div class="panel-body"><img class="esportes" src="handebol.jpg" alt="Handebol"/></div>
	
				</div>
				
			</div>
		
		</div>

	</main>

	<footer th:replace="layout :: rodape">Rodapé</footer>

</body>
</html>

