<!DOCTYPE html>
<html>
<head>

<title>Atlética Alan Turing - Meus Times</title>
<link rel="shortcut icon" href="favicon.ico"/>
<meta charset="UTF-8" />
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" />
<link href="stylesheet.css"	rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />

</head>
<body>

	<header th:replace="layout :: menu">Menu</header>

	<main>
	
		<div class="container">
		
			<h1 class="text-center">Meus Times</h1>
	
			<div class="panel-group" id="accordion">
	
				<div class="panel panel-default">
	
				    <div class="panel-heading">
	
				      <h4 class="panel-title">
				        <p>Futsal<a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
				        <i class="fa fa-plus pull-right"></i></a></p>
				      </h4>
	
				    </div>
	
				    <div id="collapse1" class="panel-collapse collapse">
	
				      <div class="panel-body"><img src="timefutsal.jpg" alt="Time Futsal"/></div>
	
				    </div>
	
				</div>
	
				 <div class="panel panel-default">
	
				    <div class="panel-heading">
	
				      <h4 class="panel-title">
				        <p>Voleibol<a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
				        <i class="fa fa-plus pull-right"></i></a></p>
				      </h4>
	
				    </div>
	
				    <div id="collapse2" class="panel-collapse collapse">
	
				      <div class="panel-body"><img src="timefutsal.jpg" alt="Time Futsal"/></div>
	
				    </div>
	
				</div>
	
				<div class="panel panel-default">
	
				    <div class="panel-heading">
	
				      <h4 class="panel-title">
				        <p>Handebol<a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
				        <i class="fa fa-plus pull-right"></i></a></p>
				      </h4>
	
				    </div>
	
				    <div id="collapse3" class="panel-collapse collapse">
	
				      <div class="panel-body"><img src="timefutsal.jpg" alt="Time Futsal"/></div>
	
				    </div>
	
				</div>
				
			</div>
		
		</div>

	</main>

	<footer th:replace="layout :: rodape">Rodapé</footer>

</body>
</html>

