<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<link
	href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css"
	rel="stylesheet" />
<title>Insert title here</title>
</head>
<body>
<footer th:fragment="footer" class=" navbar-inverse" role="contentinfo">
    <div class="container navbar-fixed-bottom" >
       
            <p class="pull-right"><a href="#">Subir ao topo</a></p>
            <p>&copy; 2017 Atlética Alan Turing. &middot; <a href="#">Privacidade</a> &middot; <a href="#">Termos de uso</a></p>
      
    </div>
</footer>
</body>
</html>