<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<link
	href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css"
	rel="stylesheet" />
<title>Insert title here</title>
</head>
<body>


	<header th:fragment="header">
	
		<nav class="navbar navbar-inverse">

			<div class="container-fluid">
				<div class="navbar-header">

					<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target="#myNavbar">
						<span class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>

					<a class="navbar-brand" th:href="@{/}"> <img src="pika2.png"
						width="50" height="50" /> Atlética Alan Turing
					</a>
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">

					<ul class="nav navbar-nav navbar-right">

						<li><a th:href="@{/institucional}"> Institucional</a></li>
						<li><a th:href="@{/equipes}"> Equipe</a></li>
						<li><a th:href="@{/produtos}"> Produtos</a></li>
						<li><a th:href="@{/agenda}"> Agenda</a></li>
						<li><a th:href="@{/contato}"> Contato</a></li>
						<li><a th:href="@{/sejaSocio}"> Seja Sócio</a></li>

						<li class="dropdown"><a class="dropdown-toggle"
							data-toggle="dropdown" href="#"> <span
								class="glyphicon glyphicon-log-in"></span> Login<span
								class="caret"></span>
						</a></li>
						<li><a th:href="@{/admHome}">Editor Temporario</a></li>
						</ul>
				</div>
			</div>
		</nav>
	</header>
</body>
</html>