<!--Menu-->

<nav th:fragment="menu" class="navbar navbar-default">

  <div class="container-fluid">   

       <div class="navbar-header">

        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span> 
        </button>

        <a th:href="@{/}" class="navbar-left"><img class="logo" src="pika2.png"/></a>

      </div>
     
    <div class="collapse navbar-collapse" id="myNavbar">

          <ul class="nav navbar-nav navbar-right">

            <li th:classappend="${#httpServletRequest.getRequestURI() == '/quemsoueu' ? 'active':''}"><a th:href="@{/quemsoueu}">Quem sou eu?</a></li>
            <li th:classappend="${#httpServletRequest.getRequestURI() == '/meustimes' ? 'active':''}"><a th:href="@{/meustimes}">Meus Times</a></li>
            <li th:classappend="${#httpServletRequest.getRequestURI() == '/diretoria' ? 'active':''}"><a th:href="@{/diretoria}">Diretoria</a></li>
            <li th:classappend="${#httpServletRequest.getRequestURI() == '/produtos' ? 'active':''}"><a th:href="@{/produtos}">Produtos</a></li>
            <li th:classappend="${#httpServletRequest.getRequestURI() == '/agenda' ? 'active':''}"><a th:href="@{/agenda}">Agenda de Atividades</a></li>
            <li th:classappend="${#httpServletRequest.getRequestURI() == '/sejasocio' ? 'active':''}"><a th:href="@{/sejasocio}">Seja Sócio</a></li>
            <li th:classappend="${#httpServletRequest.getRequestURI() == '/falacomigo' ? 'active':''}"><a th:href="@{/falacomigo}">Fala comigo!</a></li>
            <!--Temporário-->
           	<li><a href="#" data-toggle="modal" data-target="#login-modal">Login</a></li>
            <li th:classappend="${#httpServletRequest.getRequestURI() == '/admHome' ? 'active':''}"><a th:href="@{/admHome}">Editor Temporario</a></li>
          </ul>

    </div>

  </div>

</nav>

<!--Rodapé-->

<div th:fragment="rodape" class="footer">

        <div class="row">

          <div class="col-xs-12 col-sm-12 col-lg-3 pull-left">
          
            <p><a href="http://www.unirio.br" target="_blank"><img src="logounirio.png" alt="logo unirio" class="logounirio"/></a></p>
            
          </div>

          <div class="col-xs-12 col-sm-12 col-lg-3">
        
        
        <p><button type="button" class="btn btn-default btn-lg">
          <i class="fa fa-envelope" aria-hidden="true"></i>
        </button>       
        <button type="button" class="btn btn-default btn-lg">
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </button>
        <button type="button" class="btn btn-default btn-lg">
          <i class="fa fa-whatsapp" aria-hidden="true"></i>
        </button></p>
        
        
        
          </div>

                  
          <div class="col-xs-12 col-sm-12 col-lg-3">

            <p>&copy; 2017 Atlética Alan Turing</p>  
            <p>Todos os direitos reservados</p>             
            <p><a href="#">Privacidade</a> &middot;
            <a href="#">Termos de uso</a></p>

          </div>
          
          <div class="col-xs-12 col-sm-12 col-lg-3">

            <p>Desenvolvido por Uniriotec</p>
            <p><a href="http://bsi.uniriotec.br" target="_blank">www.uniriotec.com.br</a></p>

          </div>

      
      </div>

<!--Arquivos Externos-->
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="script.js"></script>
<script src="https://use.fontawesome.com/80614b41ba.js"></script>

</div>
