<!DOCTYPE html>
<html>
<head>

<title>Atlética Alan Turing - Produtos</title>
<link rel="shortcut icon" href="favicon.ico"/>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width"/>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" />
<link href="stylesheet.css"	rel="stylesheet" />


</head>
<body>

	<header th:replace="layout :: menu">Menu</header>

	<main>

		<div class="container">

			<div class="flexbox text-center">

				<img class="mostrarProduto" src="produto.jpg" alt="Produto"/>
				<img class="mostrarProduto" src="produto.jpg" alt="Produto"/>
				<img class="mostrarProduto" src="produto.jpg" alt="Produto"/>
				
		 	</div> 

		</div>

	</main>

	<footer th:replace="layout :: rodape">Rodapé</footer>

</body>
</html>

