<!DOCTYPE html>
<html>
<head>

<title>Atlética Alan Turing - Produtos</title>
<link rel="shortcut icon" href="favicon.ico"/>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width"/>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" />
<link href="stylesheet.css"	rel="stylesheet" />


</head>
<body>

	<header th:replace="layout :: menu">Menu</header>

	<main>

		<div class="container text-center">

			<h1 th:if="${produtos.size()} > 1">Confira nossos produtos</h1>

			<div class="flexbox">

				<p th:if="${produtos.size()} == 0">Não há produtos no momento</p>

				<div th:each="produto : ${produtos}" class="mostrarProduto">

					<a th:href="@{'/produtos/' + ${produto.categoria} + '/' + ${produto.id}}">									
						<img src="produto.jpg" alt="Produto"/>
					</a>	
				
				</div>		 	

		 	</div>
									
		</div>

	</main>

	<footer th:replace="layout :: rodape">Rodapé</footer>

</body>
</html>

