<!DOCTYPE html>
<html>
<head>

<title>Atlética Alan Turing - Seja Sócio!</title>
<link rel="shortcut icon" href="favicon.ico" />
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<link
	href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css"
	rel="stylesheet" />
<link href="stylesheet.css" rel="stylesheet" />

</head>
<body>

	<header th:replace="layout :: menu">Menu</header>

	<main>

	<div class="container text-center">

		<img src="wewantyou.png" alt="Junte-se a Atletica" class="fotoSocio" />

		<div class="row">

			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

				<h2 class="destaqueSocio text-center">Sendo sócio você pode:</h2>
				<ul class="vantagens">
					<li>Ter desconto em todos os produtos</li>
					<li>Jogar em partidas oficiais pela Atlética</li>
					<li>Assegurar seu lugar em viagens</li>
					<li>Ter o direito de votar nas eleições</li>
					<li>Participar de pré-vendas de produtos exclusivos</li>
					<li><b>E muitos mais...</b></li>
				</ul>

			</div>

			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

				<h2 class="destaqueSocio text-center">
					Apenas <b>R$ 15,00*</b>
				</h2>

				<button class="botaoSocio btn btn-success" data-toggle="modal"
					data-target="#socioModal">Junte-se a nós!</button>

			</div>

		</div>


		<div class="modal fade" id="socioModal" tabindex="-1" role="dialog"
			aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">&times;</span>
						</button>
						<h5 class="modal-title">Formulário de Inscrição</h5>
						<p class="text-muted text-center">Entraremos em contato após o
							preenchimento</p>
					</div>

					<div class="modal-body">


						<!-- 		Email para se associar -->
						<form class="form-horizontal" th:action="@{/enviarEmail}" th:object="${email}" method="POST">

							<div class="form-group">
								<label class="col-xs-3 control-label">Nome</label>
								<div class="col-xs-9">
									<input type="text" class="form-control" th:field="*{nome}" />
								</div>
							</div>

							<div class="form-group">
								<label class="col-xs-3 control-label">Sobrenome</label>
								<div class="col-xs-9">
									<input type="text" class="form-control" th:field="*{sobrenome}" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-xs-3 control-label">E-mail</label>
								<div class="col-xs-9">
									<input type="text" class="form-control" th:field="*{remetente}" />
								</div>
							</div>
							<div class="form-group">
								<label  class="col-xs-3 control-label">Período</label>
								<div class="col-xs-9">

									<input type="text" class="form-control" th:field="*{periodo}" />

								</div>
							</div>
							<div class="form-group">
								<label class="col-xs-3 control-label">Matrícula</label>
								<div class="col-xs-9">
									<input type="text" class="form-control" th:field="*{matricula}" />
								</div>
							</div>
							<div class="form-group">
								<div class="col-xs-5 col-xs-offset-3 pull-right">
									<button type="button" class="btn btn-default"
										data-dismiss="modal">Cancelar</button>
									<button type="submit" class="btn btn-primary">Enviar</button>
								</div>
							</div>

						</form>
					</div>
				</div>
			</div>
		</div>

	</div>

	</main>

	<footer th:replace="layout :: rodape">Rodapé</footer>

</body>
</html>

